 .bounce-animate:nth-child(1) {
  animation: bounce-anim 3s infinite alternate ease-out;
 }

 .bounce-animate:nth-child(2) {
  animation: bounce-anim 2.5s infinite alternate ease-out;
 }

 .bounce-animate:nth-child(3) {
  animation: bounce-anim 2.7s infinite alternate ease-out;
 }

 .bounce-animate:nth-child(4) {
  animation: bounce-anim 3.2s infinite alternate ease-out;
 }

 @keyframes bounce-anim {
  from {
    transform: translateY(18px);
  }

  to {
    transform: translateY(0px);
  }
 }

 .sliderSection .swiper-pagination {
  z-index: 999px;
  bottom: 0px !important;
  left: 0 !important;
  right: 0 !important;
  margin: auto !important;
  text-align: center !important;
}

.sliderSection .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #84CC16;
  border-radius: 0px !important;
  opacity: 1 !important;
  border-radius: 100% !important;
}

.sliderSection .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #012A36;
}

@media screen and (max-width: 1024px) {
  .sliderSection .swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
  }
}

