/* Entrova Default Settings */

:root {
  /*Default  Color */
  --color-primary: #323336;
  --color-default: #000;
  --color-secondary: #ed7d31;
  --color-gray: #EEEEEE;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Regola;
    src: url("./fonts/Regola/RegolaProTrial-Regular.otf");
    font-weight: 400;
  }
  @font-face {
    font-family: Regola;
    src: url("./fonts/Regola/RegolaProTrial-Medium.otf");
    font-weight: 500;
  }
  @font-face {
    font-family: Regola;
    src: url("./fonts/Regola/RegolaProTrial-Bold.otf");
    font-weight: 700;
  }
  @font-face {
    font-family: Regola;
    src: url("./fonts/Regola/RegolaProTrial-Book.otf");
    font-weight: 900;
  }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@import "./main.css";
